@use "../../scss" as *;

.navbar {
  @include flex(center, null);
  height: 4rem;
  box-shadow: 7px 5px 8px 0px rgb(0 0 0 / 50%);
  position: fixed;
  width: 100%;
  background-color: $light-green;
  &__center {
    @include flex(center, space-between);
    width: $max-width;
    margin: 0 auto;
  }

  &__logo img {
    width: 12rem;
  }

  &__links ul {
    @include flex(center, null);
  }

  a {
    margin: 0 10px;
    font-size: 1.2rem;
  }
}
