@use "../../scss" as *;
@use "../../components/cocktails";
@use "../../components/cocktail-detail";

.main-content {
  padding-top: 4rem;
  h1 {
    text-align: center;
    margin: 1rem 0 3.5rem;
  }

  .cocktail-container {
    width: 85vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 368.66px);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
