// Colors:
$white: #fff;
$black: #000;
$dark-green: #476a2e;
$light-green: #d4e6a5;
$light-grey: #f1f5f8;
$light-pink-white: #f1f5f8;

// border-radius:
$radius: 0.25rem;

// font-size:
$bg-size: 2rem;
$m-size: 1rem;
$sm-size: 0.8rem;

// width:
$max-width: 1170px;
